<!DOCTYPE html>
<html>

<head>
    <title>My Webpage</title>
    <link rel="stylesheet" href="../static/css/1.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/1.9.1/showdown.min.js"></script>
    <script src="../static/js/markdown.js"></script>
    <script src="../static/js/images.js"></script>
</head>

<body>
    <header>
        <div id="top-left">
            <p>iMooc</p>
        </div>
        <div id="top-right">
            <input type="text" placeholder="Search...">
            <button>Search</button>
        </div>
    </header>

    <main>
        <div id="left-side">
            <div id="video-player">
                <video src="../static/Vedio/test.mp4" controls></video>
            </div>
            <div id="image-container">
            </div>
            <div id="text-box">
                <textarea></textarea>
            </div>
        </div>

        <div id="right-side">
            <div id="markdown"></div>
        </div>

    </main>

    <footer>
        <div id="bottom-center">
            <p>@2023 iMooc</p>
        </div>
    </footer>
</body>

</html>